$bg-principal: #A8A5FE;
$bg-principal-op9: #a8a5fee7;
$bg-secundario: #918EFF;
$bg-tercero: #a78eff;
$color-white:#fff ;
$color-verde-f: #adff2f;
$color-verde-oscuro-f: #90d627;
$border-green: #adff2f;
$border-green-light: #c9ff79;
$border-green-dark: #699428;
$border-default:1px solid black;
$border-principal:1px solid #A8A5FE;
$border-secundario:1px solid #918EFF;
$bradius-5: 5px ;